# Ignore Python virtual environments
pl-env/
pl-win-env/
pl-linux-env/

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore system-specific files
.DS_Store  # macOS
Thumbs.db  # Windows

# Ignore logs and temporary files
*.log
*.tmp

# Ignore IDE-specific files
.vscode/
.idea/
.env

# Ignore local test data.
/projects/*
!/projects/.gitkeep
/data/api.json
.aider*
